[Unit]
Description=Systemd service for the NuvlaBox Auto-installer plugin
After=systemd-udevd.service network-online.target
Wants=systemd-udevd.service network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nuvlabox-auto-installer-usb
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
